.header-contenedor{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    width: 50px;
    border-radius: 0;
    padding: 0;
    margin-left: 3vh;
    align-items: center;
    background-color: transparent;
}

.menu img{
    display: flex;
    margin: auto;
    width: 40px;
    height: 40px;
}

.perfil{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 3vh;
    border-radius: 30px;
    background-color: #2F2F2F;
}

.perfil img{
    display: flex;
    margin: auto;
    width: 30px;
    height: 30px;
}


/* contenido */


.contenido{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    gap: 120px;
}

.informaciones-contenedor{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0 auto;
    user-select: none;
    gap: 12vh;
}

.obligatorio{
    color: #FF4409;
}

.info-lugar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
}

.info-lugar .input-text{
    height: 1vh;
}

.lugar__titulo{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.lugar__titulo img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.inputs-verticales-sup {
    width: 500px;
}

.nombre-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
    width: auto;
    margin-top: 3vh;
    margin-bottom: 2.5vh;
}

.nombre-form input{
    width: auto;
}

.nombre-form strong{
    color: #FF4409;
}

.nombre-form h2{
    margin-bottom: 0.4vh;
}

.direccion-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
    width: auto ;
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.direccion-form input{
    width: auto;
}

.info-medio{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 10.5vh;
}

.inputs-verticales-inf{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 2.5vh;
    gap: 4vh;
}

.num-input {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 5px;
}

.num-input input {
    width: 70px;
}

.capacidad-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
}

.capacidad-form strong{
    color: #FF4409;
}

.capacidad-form input{
    display: flex;
    justify-content: center;
    max-width: 105px;
    border-radius: 12px;
}

.dormitorios-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
}

.dormitorios-form input{
    display: flex;
    justify-content: center;
    max-width: 105px;
    border-radius: 12px;
}

.dormitorios-form strong{
    color: #FF4409;
}

.banos-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
}

.banos-form input{
    display: flex;
    justify-content: center;
    max-width: 105px;
    border-radius: 12px;
}

.precio-renta input{
    display: flex;
    justify-content: center;
    max-width: 105px;
    border-radius: 12px;
}

.banos-form strong{
    color: #FF4409;
}

.servicios{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-top: 2.5vh;
    gap: 0.5vh;
}

.servicios h3{
    padding: 8px;
}

.divisor-servicios{
    width: auto;
    height: 2px;
    background-color: #2F2F2F;
    border-radius: 2px;
}

.servicios__1{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 1.5vh;
    gap: 5.5vh;
}

.checkbox-text{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
}

.servicios__2 h3{
    width: 90px;
    padding: 8px;
}


.columna{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.servicios__2{
    display: flex;
    justify-content: left;
    flex-direction: row;
    margin-top: 1.5vh;
    gap: 5.2vh;
}


.precio-renta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.7vh;
    margin-top: 4vh;
}

.precio-renta strong{
    color: #FF4409;
}

.divisor-informaciones{
    width: 1px;
    height: 100%;
    background-color: #2F2F2F;
}


/* DERECHA */


.info-otros{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 5vh;
}

.info-otros .input-text{
    height: 1vh;
}

.info-otros select{
    height: 5vh;
}

.info-otros button{
    height: 5vh;
}

.info-otros button h2{
    font-size: 1rem;
}

.dimensiones{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 2.5vh;
}

.dimensiones__titulo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 1.5vh;
}

.dimensiones select{
    width: 15vh;
}

.dimensiones__titulo strong{
    font-size: 1rem;
    color: #9c9c9c;
}

.dimensiones__input{
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 5vh;
}

.dimensiones__box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dimensiones__input input{
    width: 10vh;
}

.inventario{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 65vh;
}

.inventario__titulo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.inventario__titulo h2{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.inventario-titulo__texto{
    display: flex;
    justify-content: left;
}

.inventario-titulo__texto strong{
    font-size: 1rem;
    color: #9c9c9c;
}

.inventario ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.inventario__objetos li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.agregar-objeto-boton{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
}

.agregar-objeto-boton img{
    width: 30px;
    height: 30px;
    padding-right: 8px;
}



.item__iconos{
    cursor: pointer;
    align-items: center;
    height: 30px;
}

.input__nombre-objeto input{
    width: 16vh;
}

.input__cantidad-objeto input{
    width: 10vh;
}

.agregar-objeto-input{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 4vh;
}


.agregar-objeto-input strong{
    color: #FF4409;
}

#nombre-objeto {
    width: 80%;
}

.nombre-cantidad-input{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2.5vh;
}

.confirmar-botones{
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    margin-right: 15px;
    gap: 5px;
}

.confirmar-botones button{
    width: 30px;
    height: 30px;
    background-color: transparent;
}

.trabajadores{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
}

.trabajadores__titulo{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

h3 {
    font-size: 11pt;
    color: #ffffff;
    font-weight: 400;
    margin: 0;
}

.trabajadores__titulo h2{
    display: flex;
    justify-content: left;
    flex-direction: row;
    align-items: center;
    gap: 1vh;
}

.trabajadores__titulo strong{
    color: #9c9c9c;
    font-size: 1rem;
}

.agregar-trabajador-boton{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    width: auto;
}


.agregar-trabajador-boton img{
    width: 30px;
    height: 30px;
    padding-right: 8px;
}

.trabajadores ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.trabajadores__nombres li{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.agregar-trabajador-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    align-items: center;
}

#selec-confirmar {
    margin: 0;
}

.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.imagenes strong{
    color:#9c9c9c
}

.subir-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10vh 0;
    border-radius: 12px;
}

.subir-imagen__contenido h2{
    color: rgba(255, 255, 255, 0.569);
}

.guardar-botones{
    display: flex;
    justify-content: right;
    flex-direction: row;
    align-items: center;
    gap: 2.5vh;
}

.guardar-botones button{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton__guardar{
    background-color: #40BB54;
}
