.sidebar {
    padding: 50px 25px; 
    color: white;
    width: 150px;
    height: 89.44vh;
    background-color: #17171B;
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar__top {
    display: flex;
    flex-direction: column;
    gap: 25px;
}


h3 {
    font-weight: 500;
}

.opciones {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.opcion {
    display: flex;
    gap: 7px;
    align-items: center;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.opcion:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.divider {
    width: 100%;
    height: 1px;    
    background-color: #ffffff;
    opacity: 0.25;
}