:root {
    --font : 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}

.registrarse button:hover{
    background-color: #3f3f44;
}

.header-nav__back{
    margin-top: 0;
    margin-left:0;
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 4px;
}

.header-nav__back img{
    width: 24px;
    height: 24px;
    margin: 24px;
}

.page {
    width: 100%;
    height: fit-content;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: fit-content  ;
    height: fit-content;
    margin: 72px auto 0 auto;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    gap: 32px;
}

.form__title {
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
}

.form_info {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.nombre {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contraseña {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contraseña-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hide {
    display: flex;
    flex-direction: row;
    color: #666666;
    gap: 6px;
}


.registrarse {
    width: fit-content;
    margin: auto;
}

.registrarse button {
    appearance: none;
    width: 580px;
    padding: 16px 24px;
    font-family: var(--font);
    font-size: 22px;
    font-weight: 50;
    color: rgba(255, 255, 255, 0.88);
    background-color: rgb(48, 48, 54);
    border-radius: 32px;
    border: none;
    cursor: pointer;
}
.options {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}

.underline {
    color: #ffffff;
    text-decoration: underline;
}

.login {
    color: #ffffff;
}
