


.contenido {
    width: fit-content;
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin: auto;
    margin-top: 10vh;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
}
.opciones {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.25vw;
}
.opcion {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.35vw;
}

.opcion__input {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
}

table {
    width: 35vw;
    border-spacing: 0; /* Separa las celdas para que el border-radius funcione bien */
    border-collapse: separate;
    border-radius: 6px; /* Aplica el redondeado en la tabla */
    overflow: hidden; /* Asegura que las esquinas redondeadas no sean cortadas */
}

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
  }
  
  table tr:first-child th:last-child {
    border-top-right-radius: 6px;
  }
  
  table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }
  
  table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }



table th, table td {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    user-select: none;
}

table th {
    background-color: #303036;
}


table td {
    background-color: #515756;
}

.section-header {
    text-align: center;
    background-color: #666666;
}

.gastos {
    background-color: #e07e7e;
}

.beneficios {
    background-color: #9fcf9e;
}





  