.header-contenedor{
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu{
    width: 50px;
    border-radius: 0;
    padding: 0;
    margin-left: 3vh;
    align-items: center;
    background-color: transparent;
}

.menu img{
    display: flex;
    margin: auto;
    width: 40px;
    height: 40px;
}

.perfil{
    display: flex;
    width: 50px;
    height: 50px;
    padding: 0;
    margin-right: 3vh;
    border-radius: 30px;
    background-color: #2F2F2F;
}

.perfil img{
    display: flex;
    margin: auto;
    width: 30px;
    height: 30px;
}


/* contenido */


.contenido{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 10vh 0;
    gap: 6vh;
}

.contenido__contenedor{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8vh;
}

.info-visual{
    display: flex;
    justify-content:center;
    flex-direction: row;
    width: fit-content;
    height: fit-content;
    gap: 10vh;
}

.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagenes__titulo{
    display: flex;
    justify-content: left;

}

.imagenes__fotos-propiedad{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70vh;
    height: 50vh;
    border-radius: 15px;
    background-color: #2F2F2F;
}

.contenedor-previsualizacion-mapa{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    margin-top: 49px;
    gap: 2vh;
}

.previsualizacion-mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50vh;
    height: 45vh;
    border-radius: 15px;
    background-color: #2F2F2F;
}

.info-texto{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 2.7vh;
}

.info-texto__propiedad{
    display: flex;
    justify-content: left;
    flex-direction: column;
    gap: 2vh;
}

.row__ejemplo{
    color: rgba(255, 255, 255, .5);
}

.info-texto__inventario{
    display: flex;
    justify-content: left;
    flex-direction: column;
}

/* tabla */

.inventario__tabla table{
    width: 20vw;
    border-spacing: 0;
}

.trabajadores__tabla table{
    width: 50vh;
    border-spacing: 0;
}

table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}



table th, table td {
    padding: 12px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    user-select: none;
}

th{
    color: white;
}

td{
    color: white;
}

table th {
    background-color: #303036;
}


table td {
    background-color: #515756;
    text-align: center;
}

.section-header {
    text-align: center;
    background-color: #666666;
}

