//Colors
$primary-color : #212126;
$secondary-color : #17171B;
$bg-color : #212126;

//Text
$font : 'Poppins', sans-serif;
$font-color : white;

$tittle-size : 2rem;
$subtitle-size : 1.25rem;
$font-size : 1rem;

//input and button
$input-color : #303036;
$input-border-color : #66666659;
$input-border-focus-color : #14AE5C;

$button-text-color : #ffffffe0;
$button-color : #303036;
$button-hover-color : #3f3f44;
$button-active-color : #4d4d52;

//divider
$divider-color : #ffffff40;